<app-header></app-header>

<div class="container">
    <main>
        <div [hidden]="submitted">
        <h1>Hír szerkesztése</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="form-group">
                <label for="cikkCim">Cím</label>
                <input type="text" class="form-control" id="cikkCim"
                        required
                        [(ngModel)]="model.cikkCim" name="cikkCim"
                        #cikkCim="ngModel">
            </div>
    
            <div class="form-group">
                <label for="cikkSzerzo">Szerző</label>
                <input type="text" class="form-control" id="cikkSzerzo"
                        [(ngModel)]="model.cikkSzerzo" name="cikkSzerzo">
            </div>
        
            <div class="form-group">
                <label for="katID">Kategória</label>
                <select class="form-control" id="katID"
                        required
                        [(ngModel)]="model.katID" name="katID"
                        #katID="ngModel">
                    <option *ngFor="let category of categories | async" [value]="category">{{category}}</option>
                </select>
            </div>
    
            <button type="submit" class="btn btn-success mt-2">Ok</button>
        </form>
        </div>
    </main>
</div>

<app-footer></app-footer>