<app-header></app-header>

<div class="container">
    <main>
        <div class="text-center">Kérjük jelentkezzen be!</div>
        <form (ngSubmit)="bejelentkezes()">
            <div class="row" style="width: 500px; margin:auto">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email cím</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Jelszó</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                </div>
            </div>
        </form>
    </main>
</div>

<app-footer></app-footer>