<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""><img src="assets/A-team.jfif" width="50px" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-inline-flex toRight">
    <button id="ujHirButton" type="button" style="margin:10px 20px; background-color:rgb(198, 138, 197); border-radius: 5px; border:1px solid;
    color: white" *ngIf="isLoggedIn" (click)="addNews()">Új hír hozzáadása</button>
    <a routerLink="/bejelentkezes" class="margin10px" *ngIf="!isLoggedIn">Bejelentkezés</a>
    <a routerLink="/" class="margin10px" (click)="kijelentkezes()" *ngIf="isLoggedIn">Kijelentkezés</a>
  </div>
</nav>
